<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemHeadStr</key>
		<string></string>
		<key>itemContent</key>
		<array>
			<dict>
				<key>itemContent</key>
				<string>关于我们</string>
				<key>itemKey</key>
				<string>itemAboutUs</string>
				<key>itemType</key>
				<string>intoNext</string>
				<key>itemState</key>
				<string></string>
				<key>itemUrl</key>
				<string></string>
				<key>itemInfo</key>
				<string></string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>客服热线</string>
				<key>itemKey</key>
				<string>itemHotline</string>
				<key>itemType</key>
				<string>intoAlert</string>
				<key>itemState</key>
				<string></string>
				<key>itemUrl</key>
				<string></string>
				<key>itemInfo</key>
				<string></string>
			</dict>
			<dict>
				<key>itemContent</key>
				<string>投诉建议</string>
				<key>itemKey</key>
				<string>itemProposal</string>
				<key>itemType</key>
				<string>intoNext</string>
				<key>itemState</key>
				<string></string>
				<key>itemUrl</key>
				<string></string>
				<key>itemInfo</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>itemHeadStr</key>
		<string></string>
		<key>itemContent</key>
		<array>
			<dict>
				<key>itemContent</key>
				<string>帮助中心</string>
				<key>itemKey</key>
				<string>itemHelpCenter</string>
				<key>itemType</key>
				<string>intoNext</string>
				<key>itemState</key>
				<string></string>
				<key>itemUrl</key>
				<string></string>
				<key>itemInfo</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
