<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1001</key>
	<dict>
		<key>msg</key>
		<string>该用户名不存在可以注册!</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1002</key>
	<dict>
		<key>msg</key>
		<string>该用户名已存在不可以注册!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1003</key>
	<dict>
		<key>msg</key>
		<string>用户名在4-15个字符之间!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1004</key>
	<dict>
		<key>msg</key>
		<string>首字母必须是英文字符!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1005</key>
	<dict>
		<key>msg</key>
		<string>用户名只能是数字+字母组合!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1006</key>
	<dict>
		<key>msg</key>
		<string>邮箱格式不正确!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1007</key>
	<dict>
		<key>msg</key>
		<string>邮箱已存在!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1008</key>
	<dict>
		<key>msg</key>
		<string>邮箱可以注册!</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1009</key>
	<dict>
		<key>msg</key>
		<string>验证码不正确!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1010</key>
	<dict>
		<key>msg</key>
		<string>验证码正确!</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1011</key>
	<dict>
		<key>msg</key>
		<string>手机型号不能为空!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1012</key>
	<dict>
		<key>msg</key>
		<string>真实姓名在2-20之间!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1013</key>
	<dict>
		<key>msg</key>
		<string>注册成功!</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1014</key>
	<dict>
		<key>msg</key>
		<string>密码长度为6-12位!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1015</key>
	<dict>
		<key>msg</key>
		<string>用户名为空!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1016</key>
	<dict>
		<key>msg</key>
		<string>该用户不存在!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1017</key>
	<dict>
		<key>msg</key>
		<string>密码错误!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1018</key>
	<dict>
		<key>msg</key>
		<string>登陆成功!</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1019</key>
	<dict>
		<key>msg</key>
		<string>已经登陆，请先退出再行登陆!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1020</key>
	<dict>
		<key>msg</key>
		<string>你没有登陆!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1021</key>
	<dict>
		<key>msg</key>
		<string>身份证不符合格式!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1022</key>
	<dict>
		<key>msg</key>
		<string>手机不符合格式!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1023</key>
	<dict>
		<key>msg</key>
		<string>QQ不符合格式!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1024</key>
	<dict>
		<key>msg</key>
		<string>修改失败!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1025</key>
	<dict>
		<key>msg</key>
		<string>修改成功!</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1026</key>
	<dict>
		<key>msg</key>
		<string>新密码长度在6-12位之间!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1027</key>
	<dict>
		<key>msg</key>
		<string>新密码和旧密码相同，无需更改!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1028</key>
	<dict>
		<key>msg</key>
		<string>不能给自己发送短信!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1029</key>
	<dict>
		<key>msg</key>
		<string>发送间隔为15秒，请稍后!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1030</key>
	<dict>
		<key>msg</key>
		<string>发送短信成功!</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1031</key>
	<dict>
		<key>msg</key>
		<string>发送短信失败!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1032</key>
	<dict>
		<key>msg</key>
		<string>找不到该用户!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1033</key>
	<dict>
		<key>msg</key>
		<string>问题答案错误!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1034</key>
	<dict>
		<key>msg</key>
		<string>手机验证码已发送</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1035</key>
	<dict>
		<key>msg</key>
		<string>验证码错误</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1036</key>
	<dict>
		<key>msg</key>
		<string>验证码已过期</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1037</key>
	<dict>
		<key>msg</key>
		<string>请点击发送验证码</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1038</key>
	<dict>
		<key>msg</key>
		<string>电子邮箱验证码已发送</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1039</key>
	<dict>
		<key>msg</key>
		<string>验证码发送过于频繁!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1040</key>
	<dict>
		<key>msg</key>
		<string>身份证号码格式不正确</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1041</key>
	<dict>
		<key>msg</key>
		<string>您已绑定了身份证</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1042</key>
	<dict>
		<key>msg</key>
		<string>绑定身份证成功</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1043</key>
	<dict>
		<key>msg</key>
		<string>绑定电子邮箱成功</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1044</key>
	<dict>
		<key>msg</key>
		<string>参数不足</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1045</key>
	<dict>
		<key>msg</key>
		<string>找不到该信息</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1046</key>
	<dict>
		<key>msg</key>
		<string>资讯类别错误</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1047</key>
	<dict>
		<key>msg</key>
		<string>找不到该资讯</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1048</key>
	<dict>
		<key>msg</key>
		<string>找不到该合买</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1049</key>
	<dict>
		<key>msg</key>
		<string>该合买在截止后公开</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1050</key>
	<dict>
		<key>msg</key>
		<string>该合买方案不公开</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1051</key>
	<dict>
		<key>msg</key>
		<string>对不起，您的账号被禁止登陆</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1052</key>
	<dict>
		<key>msg</key>
		<string>对不起，您的账号被禁止交易</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1053</key>
	<dict>
		<key>msg</key>
		<string>充值金额不能小于10元</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1054</key>
	<dict>
		<key>msg</key>
		<string>充值卡类型不能为空</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1055</key>
	<dict>
		<key>msg</key>
		<string>充值金额错误</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1056</key>
	<dict>
		<key>msg</key>
		<string>充值卡序列号错误</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1057</key>
	<dict>
		<key>msg</key>
		<string>充值卡密码错误</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1058</key>
	<dict>
		<key>msg</key>
		<string>充值卡序列号或密码错误</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1059</key>
	<dict>
		<key>msg</key>
		<string>充值成功</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1060</key>
	<dict>
		<key>msg</key>
		<string>充值失败</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1061</key>
	<dict>
		<key>msg</key>
		<string>请先选择提现银行</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1062</key>
	<dict>
		<key>msg</key>
		<string>请先选择开户省市</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1063</key>
	<dict>
		<key>msg</key>
		<string>银行卡号格式错误</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1064</key>
	<dict>
		<key>msg</key>
		<string>保存提现银行卡成功</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1065</key>
	<dict>
		<key>msg</key>
		<string>请先完善资料</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1066</key>
	<dict>
		<key>msg</key>
		<string>银行信息不能修改</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1067</key>
	<dict>
		<key>msg</key>
		<string>保存提现信息成功</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1068</key>
	<dict>
		<key>msg</key>
		<string>提现金额错误</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1069</key>
	<dict>
		<key>msg</key>
		<string>登陆密码不能为空</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1070</key>
	<dict>
		<key>msg</key>
		<string>金额大于可提现金额</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1071</key>
	<dict>
		<key>msg</key>
		<string>登陆密码错误</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1072</key>
	<dict>
		<key>msg</key>
		<string>提现申请成功，请等待我们处理!</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1073</key>
	<dict>
		<key>msg</key>
		<string>金额不能小于10元</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1074</key>
	<dict>
		<key>msg</key>
		<string>手机号码格式不正确</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1075</key>
	<dict>
		<key>msg</key>
		<string>绑定手机号码成功</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1076</key>
	<dict>
		<key>msg</key>
		<string>找不到该公告</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1077</key>
	<dict>
		<key>msg</key>
		<string>您没有更换手机</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1078</key>
	<dict>
		<key>msg</key>
		<string>请先选择密码保护问题</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1079</key>
	<dict>
		<key>msg</key>
		<string>请输入问题答案</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1080</key>
	<dict>
		<key>msg</key>
		<string>问题答案应为2-30位</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1081</key>
	<dict>
		<key>msg</key>
		<string>密码保护问题绑定成功</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1082</key>
	<dict>
		<key>msg</key>
		<string>旧问题答案错误</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1083</key>
	<dict>
		<key>msg</key>
		<string>您没有更换电子邮箱</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1084</key>
	<dict>
		<key>msg</key>
		<string>该方案不能撤单</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1085</key>
	<dict>
		<key>msg</key>
		<string>取消方案成功</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1086</key>
	<dict>
		<key>msg</key>
		<string>修改信息成功</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1087</key>
	<dict>
		<key>msg</key>
		<string>该方案不是您发起的</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1088</key>
	<dict>
		<key>msg</key>
		<string>该进度+保底大于50%,不能撤单</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1089</key>
	<dict>
		<key>msg</key>
		<string>该方案已经撤单</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1090</key>
	<dict>
		<key>msg</key>
		<string>该方案已经出票，不能撤单</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1091</key>
	<dict>
		<key>msg</key>
		<string>撤销合买成功</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1092</key>
	<dict>
		<key>msg</key>
		<string>提交成功，请30秒后查询账户余额。</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1093</key>
	<dict>
		<key>msg</key>
		<string>银联手机充值请求已经递交。您的手机稍后将接到银联系统 02096585 的来电。</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1094</key>
	<dict>
		<key>msg</key>
		<string>没有绑定手机号码和电子邮件</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1095</key>
	<dict>
		<key>msg</key>
		<string>重置密码成功</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1096</key>
	<dict>
		<key>msg</key>
		<string>没有设置密码保护问题</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1097</key>
	<dict>
		<key>msg</key>
		<string>电子邮箱和手机必须填写一个</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1098</key>
	<dict>
		<key>msg</key>
		<string>电子邮箱或手机号码错误</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1099</key>
	<dict>
		<key>msg</key>
		<string>用户名不能和手机号码一样</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1100</key>
	<dict>
		<key>msg</key>
		<string>交易签名无效!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1101</key>
	<dict>
		<key>msg</key>
		<string>注销登陆成功</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1102</key>
	<dict>
		<key>msg</key>
		<string>活动未开始</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1103</key>
	<dict>
		<key>msg</key>
		<string>活动已结束</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1104</key>
	<dict>
		<key>msg</key>
		<string>身份证，手机号码，电子邮件需要完善好才能领取投注金</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1105</key>
	<dict>
		<key>msg</key>
		<string>您已经领取了活动赠送彩金</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1106</key>
	<dict>
		<key>msg</key>
		<string>发送验证码成功</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1107</key>
	<dict>
		<key>msg</key>
		<string>请输入验证码</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1108</key>
	<dict>
		<key>msg</key>
		<string>获取投注金成功</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1109</key>
	<dict>
		<key>msg</key>
		<string>请选择所有题目</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1120</key>
	<dict>
		<key>msg</key>
		<string>请输入选择原因</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1121</key>
	<dict>
		<key>msg</key>
		<string>参与调查成功</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1122</key>
	<dict>
		<key>msg</key>
		<string>金额不能小于24元</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1123</key>
	<dict>
		<key>msg</key>
		<string>恭喜您!佣金已经成功冲入您的彩票帐号!</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1124</key>
	<dict>
		<key>msg</key>
		<string>输入的兑换积分必须大于100并且小于您当前拥有的积分</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1125</key>
	<dict>
		<key>msg</key>
		<string>积分兑换投注金成功</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1126</key>
	<dict>
		<key>msg</key>
		<string>您的积分少于100不能参与积分抽奖活动</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1127</key>
	<dict>
		<key>msg</key>
		<string>您已经参与过当月的积分抽奖活动</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1128</key>
	<dict>
		<key>msg</key>
		<string>积分抽奖成功</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1129</key>
	<dict>
		<key>msg</key>
		<string>您的积分少于100不能参与虚拟投注活动</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1130</key>
	<dict>
		<key>msg</key>
		<string>虚拟投注成功</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>1131</key>
	<dict>
		<key>msg</key>
		<string>用户名不能为纯数字</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1132</key>
	<dict>
		<key>msg</key>
		<string>系统错误</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1133</key>
	<dict>
		<key>msg</key>
		<string>帐号或密码不匹配</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>1135</key>
	<dict>
		<key>msg</key>
		<string>首字母必须为字母,不区分大小写</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2000</key>
	<dict>
		<key>msg</key>
		<string>投注数据有误</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2001</key>
	<dict>
		<key>msg</key>
		<string>投注号码不能为空</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2002</key>
	<dict>
		<key>msg</key>
		<string>游戏代码错误</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2003</key>
	<dict>
		<key>msg</key>
		<string>购买方式错误</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2004</key>
	<dict>
		<key>msg</key>
		<string>当前期号已过期</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2005</key>
	<dict>
		<key>msg</key>
		<string>期号为空</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2006</key>
	<dict>
		<key>msg</key>
		<string>输入期号无法从数据库内找到</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2007</key>
	<dict>
		<key>msg</key>
		<string>本次投注总额不能大于500000元</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2008</key>
	<dict>
		<key>msg</key>
		<string>单注投注金额不能大于100000</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2009</key>
	<dict>
		<key>msg</key>
		<string>代购只能购买1期</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2010</key>
	<dict>
		<key>msg</key>
		<string>代购只能购买当前期</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2011</key>
	<dict>
		<key>msg</key>
		<string>合买只能购买1期</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2012</key>
	<dict>
		<key>msg</key>
		<string>合买只能购买当前期</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2013</key>
	<dict>
		<key>msg</key>
		<string>分拆的购买份数不能为0</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2014</key>
	<dict>
		<key>msg</key>
		<string>每份金额不能小于1元</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2015</key>
	<dict>
		<key>msg</key>
		<string>每份的金额不能除尽!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2016</key>
	<dict>
		<key>msg</key>
		<string>认购比例不能小于5%</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2017</key>
	<dict>
		<key>msg</key>
		<string>保底比例不能小于20%</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2018</key>
	<dict>
		<key>msg</key>
		<string>提成只能在0-10%之间</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2019</key>
	<dict>
		<key>msg</key>
		<string>方案标题在0-20个字之间</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2020</key>
	<dict>
		<key>msg</key>
		<string>方案内容在0-100个字之间</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2021</key>
	<dict>
		<key>msg</key>
		<string>是否公开参数出错</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2022</key>
	<dict>
		<key>msg</key>
		<string>提成只能在0-10%之间</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2023</key>
	<dict>
		<key>msg</key>
		<string>提成只能在0-10%之间</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2024</key>
	<dict>
		<key>msg</key>
		<string>期号格式非法</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2025</key>
	<dict>
		<key>msg</key>
		<string>修改头像成功</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>2026</key>
	<dict>
		<key>msg</key>
		<string>找不到该合买方案</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2027</key>
	<dict>
		<key>msg</key>
		<string>请输入您要购买的合买份数</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2028</key>
	<dict>
		<key>msg</key>
		<string>认购的份数不能大于剩余份数</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2029</key>
	<dict>
		<key>msg</key>
		<string>您的金额不足</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2030</key>
	<dict>
		<key>msg</key>
		<string>该方案已停止购买</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2031</key>
	<dict>
		<key>msg</key>
		<string>购买成功</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>2032</key>
	<dict>
		<key>msg</key>
		<string>找不到该投注记录</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2033</key>
	<dict>
		<key>msg</key>
		<string>该订单已经撤单</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2034</key>
	<dict>
		<key>msg</key>
		<string>该订单已经出票或正在出票</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2035</key>
	<dict>
		<key>msg</key>
		<string>该订单方案的购买进度大于50%,现在不能撤单</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2036</key>
	<dict>
		<key>msg</key>
		<string>撤单成功</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>2037</key>
	<dict>
		<key>msg</key>
		<string>余额不足</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2038</key>
	<dict>
		<key>msg</key>
		<string>购买成功</string>
		<key>result</key>
		<string>succeed</string>
	</dict>
	<key>2039</key>
	<dict>
		<key>msg</key>
		<string>没有合法投注记录</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2040</key>
	<dict>
		<key>msg</key>
		<string>截止前半小时内不能发起合买!</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2041</key>
	<dict>
		<key>msg</key>
		<string>保底比例不能大于100%</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2042</key>
	<dict>
		<key>msg</key>
		<string>购买比例不能大于100%</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2043</key>
	<dict>
		<key>msg</key>
		<string>暂停销售</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2044</key>
	<dict>
		<key>msg</key>
		<string>找不到该开奖详细</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2045</key>
	<dict>
		<key>msg</key>
		<string>保底不能大于剩余份数</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2046</key>
	<dict>
		<key>msg</key>
		<string>保底份数格式错误</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2047</key>
	<dict>
		<key>msg</key>
		<string>追加保底成功</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>2048</key>
	<dict>
		<key>msg</key>
		<string>进度+保底必须等于100%</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>3001</key>
	<dict>
		<key>msg</key>
		<string>当前期不存在</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>3002</key>
	<dict>
		<key>msg</key>
		<string>当前对阵信息不存在</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>3003</key>
	<dict>
		<key>msg</key>
		<string>没到销售时间</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>3004</key>
	<dict>
		<key>msg</key>
		<string>您选择的赛事中第一场已经截止投注</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>3005</key>
	<dict>
		<key>msg</key>
		<string>高频彩不能发起合买</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>3006</key>
	<dict>
		<key>msg</key>
		<string>没有找到第一场赛事</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>3007</key>
	<dict>
		<key>msg</key>
		<string>没有找到最后一场赛事</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>3008</key>
	<dict>
		<key>msg</key>
		<string>没有找到第一场和第二场赛事的记录</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>3009</key>
	<dict>
		<key>msg</key>
		<string>彩种代码有误</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>3010</key>
	<dict>
		<key>msg</key>
		<string>您选择的赛事中第一场即将截止投注，无法进行奖金优化</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>8888</key>
	<dict>
		<key>msg</key>
		<string>聚彩彩票服务器维护中！</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>10001</key>
	<dict>
		<key>msg</key>
		<string>返回参数不是数组</string>
		<key>result</key>
		<string>fail</string>
	</dict>
	<key>10002</key>
	<dict>
		<key>msg</key>
		<string>Y-KEY不正确</string>
		<key>result</key>
		<string>fail</string>
	</dict>
</dict>
</plist>
